@font-face {
	font-family: 'nginx-fontello';
	src: url('../font/nginx-fontello.eot?7388141');
	src: url('../font/nginx-fontello.eot?7388141#iefix') format('embedded-opentype'),
		url('../font/nginx-fontello.woff?7388141') format('woff'),
		url('../font/nginx-fontello.ttf?7388141') format('truetype'),
		url('../font/nginx-fontello.svg?7388141#nginx-fontello') format('svg');
	font-weight: normal;
	font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/* // phpcs:ignore Squiz.PHP.CommentedOutCode.Found
@media screen and (-webkit-min-device-pixel-ratio:0) {
	@font-face {
		font-family: 'nginx-fontello';
		src: url('../font/nginx-fontello.svg?7388141#nginx-fontello') format('svg');
	}
}
*/

[class^="nginx-helper-"]:before, [class*=" nginx-helper-"]:before {
	font-family: "nginx-fontello";
	font-style: normal;
	font-weight: normal;
	speak: none;

	display: inline-block;
	text-decoration: inherit;
	width: 1em;
	margin-right: .2em;
	text-align: center;
	/* opacity: .8; */

	/* For safety - reset parent styles, that can break glyph codes*/
	font-variant: normal;
	text-transform: none;

	/* fix buttons height, for twitter bootstrap */
	line-height: 1em;

	/* Animation center compensation - margins should be symmetric */
	/* remove if not needed */
	margin-left: .2em;

	/* you can be more comfortable with increased icons size */
	/* font-size: 120%; */

	/* Uncomment for 3D effect */
	/* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}

.nginx-helper-twitter:before { content: '\e802'; } /* '' */
.nginx-helper-facebook:before { content: '\e801'; } /* '' */
