table.rtnginx-table{
    padding: 10px;
    border: 1px #CCC solid;
    width: 95%;
    margin-bottom: 10px;
}
pre#map{
    background: #e5e5e5 none;
    border-radius:10px;
    padding:10px;
}
#icon-options-nginx{
    background:transparent url(nginx-icon-32x32.png) center center no-repeat;
}
div#content_block form { padding-left: 25px }
div#content_block { width: 70% }
div#rtads{ width:30%}
.align_left, .alignleft {
float: left;
}
form#purgeall .button-primary{
float: right;
margin-right: 100px;
height: 32px;
line-height: 32px;
font-weight: bold;
font-size: 16px;
}

#social .inside a {
background: url(rtp-social-icons-32-32.png) no-repeat;
display: inline-block;
height: 35px;
margin: 0 0 0 9px;
padding: 0;
text-indent: -9999px;
text-transform: uppercase;
width: 35px;
}
#social .inside a.rt-nginx-facebook {
background-position: 0 0;
}
#social .inside a.rt-nginx-facebook:hover {
background-position: 0 -44px;
}
#social .inside a.rt-nginx-twitter {
background-position: -44px 0;
}
#social .inside a.rt-nginx-twitter:hover {
background-position: -44px -44px;
}
#social .inside a.rt-nginx-rss {
background-position: -88px 0;
}
#social .inside a.rt-nginx-rss:hover {
background-position: -88px -44px;
}


